<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				 <span class="lead">Verb <em>({{currentQuestion.title}})</em><span>
			</div>
			<div class="panel-body">
				<h3>{{currentQuestion.kanji}} <small>({{currentQuestion.kana}}) - {{currentQuestion.definition}}</small></h3>
				<div class="slide-animate" ng-include="answerbox"></div>
			</div>
			<div class="panel-footer">
			{{(numberCorrect / (numberCorrect + numberIncorrect)) * 100.0}}% ({{numberCorrect + numberIncorrect}} of {{numberOfQuestions}})
			</div>
		</div>
	</div>
</div>
